PORT = 3000

MONGODB_URI = YOUR_MONGODB_URI
DB_NAME = DATABASE_NAME

ACCESS_TOKEN_SECRET=YOUR_SECRET_ACCESS_TOKEN
ACCESS_TOKEN_EXPIRY=YOUR0_SECRET_ACCESS_TOKEN_EXPIRY

REFRESH_TOKEN_SECRET=YOUR_SECRET_REFRESH_TOKEN
REFRESH_TOKEN_EXPIRY=YOUR0_SECRET_REFRESH_TOKEN_EXPIRY